/** {
   outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

p {
	margin: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}

body {
	background-color:#132E32 ;
	color: #fff;
	font-family: 'Varela Round', sans-serif;
}

#container {
	max-width: 885px;
	margin: 0 auto;
}

header {
	height: 150px;
	padding-top: 7px;
}

#main-img {
	width: 980px;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.row .col-1 {
	width: 8.33%;
}

.row .col-2 {
	width: 16.67%;
}

.row .col-3 {
	width: 25%;
}

.row .col-4 {
	width: 30.33%;
}

.row .col-5 {
	width: 41.67%;
}

.row .col-6 {
	width: 50%;
}

.row .col-7 {
	width:  58.33%;
}

.row .col-8 {
	width: 66.67%;
}

.row .col-9 {
	width: 75%;
}

.row .col-10 {
	width: 83.33%;
}

.row .col-11 {
	width: 91.67%;
}

.row .col-12 {
	width: 100%;
}

.margin {
	margin: 34px 10px;
}

.work {
	height: 200px;
	
}

.img-row {
	height: 181px;
	display: flex;
	justify-content: center;

}

.img-row img {
	width: 100%;
}
.desc-row {
	height: 50px;
	width: 100%;
	text-align: center;
}

.desc-row h1 {
	margin: 0;
}

#udacity-logo {
	height: 98px;
	width: 98px;
	float: right;
}

.center {
	margin: 0 auto;
}

.font-arial{
	font-family: arial;
}

.work-col {
	width: 30.33%;
}

/* source for this media queries templates: https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/ */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 375px){
	.img-row img {
		max-width: 100%;
		height: auto;
	}
}
@media only screen and (max-width : 767px){
/* Styles */
	/*TODO: set flexbox column*/
	.img-row img {
		width: 375px;
		height: auto;
	}
	.row {
		flex-direction: column;
		align-items: center;
	}
	.work-col {
		width: 100%
	}
	#main-img {
		width: 100%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 884px) {
/* Styles */
	/*TODO: adjust margin: center*/
	/*TODO: put flexbox align space between*/

	.work-col {
		width: 45%;
	}

}
